main
    display: flex
    flex-wrap: wrap
    justify-content: center
    height: 100vh
    overflow: auto

    .grid
        display: flex
        justify-content: center
        align-items: center
        width: 33%
        height: 25vw

        .card
            width: 70%
            height: 70%
            padding: 24px
            background: rgb(255, 253, 117)